.Rproj.user/
.Rhistory
.RData
.Ruserdata
.quarto/
/*_cache/
/.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
